@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";
@import "./prism-vscode-light.css";

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: $light-gray3;
    font-size: 16px;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    background: white;
    margin: 0;
    padding: 0;
    transition: max-width 0.5s;
    width: 100%;
}

.header {
    margin: 0;
    padding: 0;
    height: 250px;
    position: relative;
    overflow: hidden;
    background-color: black;

    img {
        max-width: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }

    div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(1.01);
        background-size: cover;
        overflow: hidden;
    }

    .header1 {
        background-image: url("./logo/background.gif");
        filter: blur(0);
        transition: 2s;
    }
    .header2 {
        background-image: url("./logo/background.gif");
        -webkit-mask-image: url("./logo/text.png");
        mask-image: url("./logo/text.png");
        -webkit-mask-size: cover;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }
    .header3 {
        opacity: 0;
        background-image: url("./logo/glow.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: 5s cubic-bezier(0.19, 1, 0.22, 1);
    }
}

@mixin reset-a {
    text-decoration: none;
    color: black;
}

.title {
    display: flex;
    border: solid $gray2 1px;

    div,
    a {
        @include reset-a;
        display: block;
        padding: 10px 20px;
        align-content: flex-end;
        &:hover {
            background: $light-gray3;
        }

        &.with-icon {
            padding-left: 15px;

            &:before {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                float: left;
                margin: 0 6px 0 0;
            }
            &.github:before {
                background: url("./icons/github.svg") no-repeat;
            }
            &.twitter:before {
                background: url("./icons/twitter-alt.svg") no-repeat;
            }
            &.rss:before {
                background: url("./icons/rss.svg") no-repeat;
            }
        }
    }

    .divider {
        padding: 0px;
        margin-left: auto;
        content: " ";
    }

    div:last-child {
        border-right: 0;
    }
}

.postSummary {
    .preview {
        margin-top: 0;
    }
    .postSummaryHeader {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        h2 {
            flex: 1 1 400px;
        }
    }
    a {
        @include reset-a;
    }
}

.component-BlogDate {
    text-transform: uppercase;
    font-size: 80%;
}

.badge {
    padding: 0px 4px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 3px;
    font-size: 85%;
    font-variant: all-petite-caps;
}

.body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";

    border: 1px solid $gray2;
    border-top: 0;
    margin: 0;
    padding: 10px;
    line-height: 1.5em;
    overflow-wrap: break-word;

    pre {
        margin: 10px -10px !important;
        padding: 2px 10px !important;
        border-top: 1px solid $gray2;
        border-bottom: 1px solid $gray2;

        background: $light-gray4;
        &.wrap {
            code {
                white-space: pre-wrap;
            }
        }
    }

    .inlineCode {
        border-radius: 5px;
        background: lighten(gray, 45%);
        padding: 2px 6px;
        font-size: 90%;
    }

    h1 {
        font-weight: 400;
        line-height: 1.1em;
    }
    h2 {
        font-weight: 380;
        line-height: 1.2em;
    }

    img {
        display: block;
        margin: auto;
        border: gray solid 1px;
        max-width: 100%;
    }
}

.part-spinner {
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
}
