@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: $light-gray3;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    background: white;
    max-width: 752px;
    margin: 0;
    padding: 0;
}

.header {
    margin: 0;
    padding: 0;
    img {
        max-width: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }
    position: relative;
    overflow: hidden;

    .header1 {
        position: absolute;
        top: 0;
        left: 0;
        background: url("../logo/background.png");
        background-size: cover;
        filter: blur(0);
        transition: 2s;

        transform: scale(1.01);

        width: 100%;
        height: 100%;
    }
    .header2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../logo/background.png");
        mask-image: url("../logo/text.png");
        mask-size: cover;
        background-size: cover;
        overflow: hidden;

        transform: scale(1.01);
    }
    .header3 {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../logo/glow.png");
        background-size: cover;
        overflow: hidden;
        transition: 5s cubic-bezier(0.19, 1, 0.22, 1);

        transform: scale(1.01);
    }
}

.title {
    display: flex;
    border: solid $gray2 1px;

    div {
        padding: 10px 20px;
        border-right: solid black 1px;
    }

    .divider {
        padding: 0px;
        margin-left: auto;
        content: " ";
    }

    div:last-child {
        border-right: 0;
    }
}

.body {
    border: 0.5px solid $gray2;
    border-top: 0;
    margin: 0;
    padding: 10px;
    text-align: justify;

    pre {
        margin: 10px -10px;
        padding: 0px 10px;
        border-top: 1px solid $gray2;
        border-bottom: 1px solid $gray2;
        background: $light-gray4;
    }
}
